Import the dataset zoo.csv in python notebook (Jupyter Notebook/Google Colab) which contains 
100 observations on different animals, with a number of features that describe each animal. The 
data has a column for species as well as a class_type which is a numerical representation of the 
species. (the class_type goes from 1 to 7, but the lables may require adjustments).
You need to build an XGBoost based classification model to predict the class_type (which 
corresponds to species) using other features in the dataset. Train-Test split will be 80-20 ratio and 
random_state is to be set to 1 (random_state = 1).
Find the overall accuracy rate of the model

# **<span style="color:#FB2576;">1. Import the Libraries</span>**

In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from matplotlib import style
import plotly.express as px
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# **<span style="color:#FB2576;">2. Reading Dataset</span>**

In [2]:
z_df=pd.read_csv('zoo.csv')
z_df.head()

,animal_name,species,class_type,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,aardvark,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,antelope,Mammal,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,bass,Fish,4,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,bear,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,boar,Mammal,1,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [3]:
z_df.shape

(100, 19)

**In zoo dataset 100 row and 19 columns.**

In [4]:
z_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  100 non-null    object
 1   species      100 non-null    object
 2   class_type   100 non-null    int64
 3   hair         100 non-null    int64
 4   feathers     100 non-null    int64
 5   eggs         100 non-null    int64
 6   milk         100 non-null    int64
 7   airborne     100 non-null    int64
 8   aquatic      100 non-null    int64
 9   predator     100 non-null    int64
 10  toothed      100 non-null    int64
 11  backbone     100 non-null    int64
 12  breathes     100 non-null    int64
 13  venomous     100 non-null    int64
 14  fins         100 non-null    int64
 15  legs         100 non-null    int64
 16  tail         100 non-null    int64
 17  domestic     100 non-null    int64
 18  catsize      100 non-null    int64
dtypes: int64(17), object(2)
memory usage: 15.0+ KB

**In this data set 2 varibles are categorical and other are integer.**

In [5]:
z_df.columns

Index(['animal_name', 'species', 'class_type', 'hair', 'feathers', 'eggs',
       'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone',
       'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize'],
      dtype='object')

**This is a 19 different variables.**

In [6]:
z_df['animal_name'].unique()

array(['aardvark', 'antelope', 'bass', 'bear', 'boar', 'buffalo', 'calf',
       'carp', 'catfish', 'cavy', 'cheetah', 'chicken', 'chub', 'clam',
       'crab', 'crayfish', 'crow', 'deer', 'dogfish', 'dolphin', 'dove',
       'duck', 'elephant', 'flamingo', 'flea', 'frog', 'fruitbat',
       'giraffe', 'girl', 'gnat', 'goat', 'gorilla', 'gull', 'haddock',
       'hamster', 'hare', 'hawk', 'herring', 'honeybee', 'housefly',
       'kiwi', 'ladybird', 'lark', 'leopard', 'lion', 'lobster', 'lynx',
       'mink', 'mole', 'mongoose', 'moth', 'newt', 'octopus', 'opossum',
       'oryx', 'ostrich', 'parakeet', 'penguin', 'pheasant', 'pike',
       'piranha', 'pitviper', 'platypus', 'polecat', 'pony', 'porpoise',
       'puma', 'pussycat', 'raccoon', 'reindeer', 'rhea', 'scorpion',
       'seahorse', 'seal', 'sealion', 'seasnake', 'seawasp', 'skimmer',
       'skua', 'slowworm', 'slug', 'sole', 'sparrow', 'squirrel',
       'starfish', 'stingray', 'swan', 'termite', 'toad', 'tortoise',
       'tuatara', 'tuna', 'vampire', 'vole', 'vulture', 'wallaby', 'wasp',
       'wolf', 'worm'], dtype=object)

In [7]:
z_df.nunique()

animal_name    99
species         7
class_type      7
hair            2
feathers        2
eggs            2
milk            2
airborne        2
aquatic         2
predator        2
toothed         2
backbone        2
breathes        2
venomous        2
fins            2
legs            6
tail            2
domestic        2
catsize         2
dtype: int64

**In zoo dataset 99 different animal name,7 different species, 7 different class type, 2 different hair,feathers,eggs,milk,airborn,aquatics,predator,toothed,backbone,breathes,venomus,tail,domestic,catsize,fins, 6 legs.**

In [8]:
z_df['animal_name'].value_counts()

frog        2
polecat     1
seal        1
seahorse    1
scorpion    1
           ..
gorilla     1
goat        1
gnat        1
girl        1
worm        1
Name: animal_name, Length: 99, dtype: int64

In [9]:
z_df['species'].unique()

array(['Mammal', 'Fish', 'Bird', 'Invertebrate', 'Bug', 'Amphibian',
       'Reptile'], dtype=object)

In [10]:
z_df['class_type'].unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

In [11]:
z_df.describe().transpose()

            count  mean       std  min  25%  50%  75%  max
class_type  100.0  2.84  2.111632  1.0  1.0  2.0  4.0  7.0
hair        100.0  0.43  0.497570  0.0  0.0  0.0  1.0  1.0
feathers    100.0  0.19  0.394277  0.0  0.0  0.0  0.0  1.0
eggs        100.0  0.58  0.496045  0.0  0.0  1.0  1.0  1.0
milk        100.0  0.41  0.494311  0.0  0.0  0.0  1.0  1.0
airborne    100.0  0.23  0.422953  0.0  0.0  0.0  0.0  1.0
aquatic     100.0  0.36  0.482418  0.0  0.0  0.0  1.0  1.0
predator    100.0  0.56  0.498888  0.0  0.0  1.0  1.0  1.0
toothed     100.0  0.61  0.490207  0.0  0.0  1.0  1.0  1.0
backbone    100.0  0.82  0.386123  0.0  1.0  1.0  1.0  1.0
breathes    100.0  0.79  0.409360  0.0  1.0  1.0  1.0  1.0
venomous    100.0  0.08  0.272660  0.0  0.0  0.0  0.0  1.0
fins        100.0  0.17  0.377525  0.0  0.0  0.0  0.0  1.0
legs        100.0  2.85  2.041860  0.0  2.0  4.0  4.0  8.0
tail        100.0  0.74  0.440844  0.0  0.0  1.0  1.0  1.0
domestic    100.0  0.13  0.337998  0.0  0.0  0.0  0.0  1.0
catsize     100.0  0.44  0.498888  0.0  0.0  0.0  1.0  1.0

In [12]:
z_df.corr()

,class_type,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
class_type,1.000000,-0.568364,-0.193632,0.668088,-0.730042,0.030310,0.324838,0.057147,-0.480491,-0.828547,-0.518361,0.320702,0.097818,0.130255,-0.631082,-0.182850,-0.526976
hair,-0.568364,1.000000,-0.420660,-0.816046,0.877637,-0.186710,-0.483091,-0.166023,0.487425,0.196633,0.447809,-0.107214,-0.285535,0.392222,0.054339,0.204810,0.450866
feathers,-0.193632,-0.420660,1.000000,0.412140,-0.403739,0.643880,-0.044609,-0.084218,-0.605713,0.226915,0.249707,-0.142819,-0.219189,-0.202633,0.287081,0.040172,-0.121192
eggs,0.668088,-0.816046,0.412140,1.000000,-0.938420,0.368791,0.384959,0.021225,-0.638882,-0.345957,-0.388996,0.101569,0.169366,-0.222394,-0.227260,-0.153025,-0.511029
milk,-0.730042,0.877637,-0.403739,-0.938420,1.000000,-0.358973,-0.371061,-0.039322,0.624865,0.390567,0.429796,-0.245820,-0.160759,0.211665,0.216006,0.161422,0.571804
airborne,0.030310,-0.186710,0.643880,0.368791,-0.358973,1.000000,-0.162377,-0.281480,-0.586083,-0.115043,0.281783,0.014014,-0.247345,0.052048,-0.001083,0.071364,-0.340840
aquatic,0.324838,-0.483091,-0.044609,0.384959,-0.371061,-0.162377,1.000000,0.371014,0.044422,0.026029,-0.636291,0.086008,0.603426,-0.365061,-0.030397,-0.227969,-0.119195
predator,0.057147,-0.166023,-0.084218,0.021225,-0.039322,-0.281480,0.371014,1.000000,0.117301,0.056632,-0.259172,0.112872,0.186636,-0.105110,0.025720,-0.316288,0.136364
toothed,-0.480491,0.487425,-0.605713,-0.638882,0.624865,-0.586083,0.044422,0.117301,1.000000,0.585952,-0.059900,-0.066504,0.361870,-0.200318,0.320645,0.065231,0.337033
backbone,-0.828547,0.196633,0.226915,-0.345957,0.390567,-0.115043,0.026029,0.056632,0.585952,1.000000,0.205774,-0.245617,0.212039,-0.431761,0.731080,0.103712,0.362863
breathes,-0.518361,0.447809,0.249707,-0.388996,0.429796,0.281783,-0.636291,-0.259172,-0.059900,0.205774,1.000000,-0.119457,-0.616347,0.372811,0.086198,0.126297,0.209712
venomous,0.320702,-0.107214,-0.142819,0.101569,-0.245820,0.014014,0.086008,0.112872,-0.066504,-0.245617,-0.119457,1.000000,-0.035326,0.021772,-0.161347,-0.004384,-0.187129
fins,0.097818,-0.285535,-0.219189,0.169366,-0.160759,-0.247345,0.603426,0.186636,0.361870,0.212039,-0.616347,-0.035326,1.000000,-0.608665,0.207568,-0.095783,0.027888
legs,0.130255,0.392222,-0.202633,-0.222394,0.211665,0.052048,-0.365061,-0.105110,-0.200318,-0.431761,0.372811,0.021772,-0.608665,1.000000,-0.346747,0.072449,0.065446
tail,-0.631082,0.054339,0.287081,-0.227260,0.216006,-0.001083,-0.030397,0.025720,0.320645,0.731080,0.086198,-0.161347,0.207568,-0.346747,1.000000,0.025760,0.249848
domestic,-0.182850,0.204810,0.040172,-0.153025,0.161422,0.071364,-0.227969,-0.316288,0.065231,0.103712,0.126297,-0.004384,-0.095783,0.072449,0.025760,1.000000,0.016773
catsize,-0.526976,0.450866,-0.121192,-0.511029,0.571804,-0.340840,-0.119195,0.136364,0.337033,0.362863,0.209712,-0.187129,0.027888,0.065446,0.249848,0.016773,1.000000

 # **<span style="color:#FB2576;">XGBoost Classification Model</span>**
**to build an XGBoost based classification model to predict the class_type (which 
corresponds to species) using other features in the dataset. Train-Test split will be 80-20 ratio and 
random_state is to be set to 1 (random_state = 1).
Find the overall accuracy rate of the model**

In [13]:
! pip install xgboost

Requirement already satisfied: xgboost in c:\users\hp\anaconda3\lib\site-packages (1.7.3)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.21.5)

In [14]:

from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [27]:
# Label Encoding
z_df['class_type'].replace([1,2,3,4,5,6,7], [0,1,2,3,4,5,6], inplace=True)
z_df['species'].replace(['Mammal', 'Fish', 'Bird', 'Invertebrate', 'Bug', 'Amphibian','Reptile'],[0,1,2,3,4,5,6],inplace=True)
z_df.head()

,animal_name,species,class_type,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,aardvark,0,0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,antelope,0,0,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,bass,1,2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,bear,0,0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,boar,0,0,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [42]:
# split data into X and y
X = z_df[['species', 'hair', 'feathers', 'eggs',
       'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone',
       'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']]
Y = z_df[ 'class_type']

In [43]:
# split data into train and test sets
seed = 1
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [44]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [45]:
print(model)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [46]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
y_pred

array([1, 0, 0, 5, 0, 0, 0, 2, 0, 0, 2, 4, 0, 3, 4, 0, 0, 0, 0, 0],
      dtype=int64)

In [47]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 100.00%

**Train-Test split will be 80-20 ratio and random_state is to be set to 1,then overall accuracy rate of the model is 100%.**